.authorSearch {
  max-width: 20em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.authorSearchHeading {
  margin-bottom: 1em;
}

.formHeading {
  margin-bottom: 2em;
}

.switch {
  margin-bottom: 2em;
}

.margined {
  margin: 2em 0em 2em 0em;
}
