.authorSearch {
  max-width: 20em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.authorSearchHeading {
  margin-bottom: 1em;
}

.formHeading {
  margin-bottom: 2em;
}

.switch {
  margin-bottom: 2em;
}

.margined {
  margin: 2em 0em 2em 0em;
}

.buttonContainer {
  display: flex;
  > div {
    margin-right: 1rem;
  }
}

.searchBoxContainer {
  display: flex;
  > * {
    margin-right: 1rem;
  }
  align-items: flex-end;
}

.message {
  padding: 0.3rem;
  background: lighten(grey, 20%);
}
