.optionContainer {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 1em;
  //background: lighten(black, 20%);
  border: 1px solid lightgrey;
  border-radius: 9px;
  max-width: 90vw;
}

.sbContainer {
  margin: 2em 0 0em 0;
}

.addButtonCont {
  margin-top: 1.5em;
}

.searchButton {
  font-size: 1.2em;
  width: 100%;
}

.greenButton {
  background: green;
}

.boxHeader {
  //color: white;
  font-weight: 300;
  margin-top: 0em;
}

.additionalConditions{
  list-style-type: none;
  padding-left: 0em;
}
