.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 750px;
  text-align: justify;
  padding: 22px;
}

.imgLeft {
  max-height: 250px;
  shape-outside: rectangle(50%);
  float: left;
  margin-right: 22px;
}

.imgRight {
  max-height: 250px;
  shape-outside: rectangle(50%);
  float: right;
  margin-left: 22px;
}

.imageContainer {
  display: grid;
  background: none;
  grid-template-columns: 1fr 1fr 1fr;
  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.fi {
  padding: 0 70px 0 70px;
  padding: 22px;
  background: hsl(0, 0, 95%);
  color: hsl(0, 0%, 9%);
  margin-bottom: 44px;
  &:after {
    visibility: hidden;
    display: table;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.ru {
  padding: 22px;
  background: hsl(0, 0, 55%);
  color: hsl(0, 0%, 99%);
}
