.details {
  list-style-type: none;
  li {
    > *:first-child {
      width: 5em;
      margin-right: 1em;
    }
  }
  padding: 0.3em;
  background: lighten(grey, 40%);
  font-size: 0.8em;
  max-width: 20em;
}

.idline {
  font-size: 0.8em;
  font-weight: 100;
  color: darkgrey;
  font-style: italic;
  margin-bottom: 1em;
}
