@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans+Condensed:300|Open+Sans');

$contentwidth: 93vw;
$headercolor: rgb(7, 7, 66);
$navcolor: #8c8c8c;
$headerfont: 'Alegreya', sans-serif;
$bodyfont: 'Open Sans', serif;
$datafont: 'Open Sans Condensed', serif;

// Table

$oddrow: lightgrey;
