.outerContainer {
  margin-top: 2em;
}

.narrowed {
  @media only screen and (min-width: 920px) {
    max-width: 60vw;
  }
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.relationList {
  padding-left: 0;
  li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 2em;

    > div:first-child {
      margin-right: 1em;
      min-width: 10em;
    }
  }
}
