.labelContainer {
  display: flex;
  padding: 0.3em;
  label {
    width: 9em;
    margin-right: 2em;
  }
  & + & {
    margin-top: 1em;
  }
  input,
  textarea {
    width: 20em;
  }
}

.area {
  min-height: 14em;
}
