.searchBoxContainer {
  display: flex;
  > * {
    margin-right: 1rem;
  }
  align-items: flex-end;
}
.authorSearchHeading {
  margin-bottom: 1em;
}
.container {
  footer {
    background: none;
		min-height: 0px;
		margin-top: 0.5rem;
		padding: 0.4rem;
		color: black;
		font-size: 0.9em;
  }
}
