$bordercolor: lightgrey;
$tabBorderRadius: 5px;

.container {
  border-top: 1px solid $bordercolor;
  padding-top: 1.8rem;
}

.innerContainer {
}

.tabList {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0;
  margin-bottom: 0;

  li + li {
    margin-left: 1em;
  }

  button {
    background: none !important;
    border: none;
    padding: 0 !important;
    text-decoration: underline;
    cursor: pointer;
  }

  li {
    padding: 0.6em 1em 0.4em 1em;
    position: relative;
  }
}

.activeTabheading {
  border-top: 1px solid $bordercolor;
  border-left: 1px solid $bordercolor;
  border-right: 1px solid $bordercolor;
  border-top-left-radius: $tabBorderRadius;
  border-top-right-radius: $tabBorderRadius;

  .tabHeadingBottom {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2em;
    background: white;
    left: 0;
  }

  button {
    color: black;
  }
}

.inactiveTabHeading {
  button {
    color: grey;
  }
}
