@import 'src/general_styles/configs.scss';

.pageHeader {
  background: $headercolor;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1em 0em 1.5em 0em;
  h1 {
    font-family: $headerfont;
    font-weight: normal;
    @media only screen and (max-width: 920px) {
      padding-left: 1em;
    }
  }
}

.innerHeader {
  width: 100%;
  @media only screen and (min-width: 920px) {
    max-width: $contentwidth;
  }
}
