@import 'src/general_styles/configs.scss';

.logo {
  background: black;
  padding: 0.1em 0.1em 0.1em 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.mainNav {
  background: $navcolor;
  color: white;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  font-size: 0.9em;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
  }
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 2em;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inline-block;
  }
}

.navItems {
  width: 100%;
  padding: 0.2em;
}
